@import "tailwindcss";

@theme inline {
  --color-OrangeP: #E64529;
  --color-GrayP: #292927;
  --font-Mont: "Montserrat", sans-serif;
  --font-Rubik: "Rubik", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Montserrat, sans-serif;
  ;
}

.bgMain {
  background-image: url('/mainbg-slide1.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.maxW {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2%;
}

.card3-1 {
  background-image: url('/treino-amador.jpg');
  background-position: center;
}